.u-section-1 .u-sheet-1 {
  min-height: 1180px;
}

.u-section-1 .u-text-1 {
  width: 582px;
  font-family: "Averia Sans Libre";
  margin: 41px auto 0;
}

.u-section-1 .u-text-2 {
  font-family: "Averia Sans Libre";
  margin: 89px auto 0;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 19px;
  margin-bottom: 50px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 404px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-image-1 {
  height: 261px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 404px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.5rem;
  font-family: "Averia Sans Libre";
  margin: 0 1px;
}

.u-section-1 .u-text-4 {
  font-family: "Averia Sans Libre";
  margin: 1px 1px 0;
}

.u-section-1 .u-group-1 {
  min-height: 68px;
  margin-top: -1px;
  margin-bottom: -2px;
  height: auto;
}

.u-section-1 .u-container-layout-3 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  font-weight: 700;
  font-family: "Averia Sans Libre";
  margin: 13px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1002px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 6px;
    margin-bottom: 6px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 407px;
  }

  .u-section-1 .u-image-1 {
    height: 215px;
    margin-top: 81px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 407px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 1px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-group-1 {
    margin-bottom: 0;
    height: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -260px;
    margin-bottom: -260px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1077px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 482px;
  }

  .u-section-1 .u-image-1 {
    height: 165px;
    margin-top: 166px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 482px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1494px;
  }

  .u-section-1 .u-text-1 {
    width: 540px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 19px;
    margin-bottom: 60px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 304px;
  }

  .u-section-1 .u-image-1 {
    height: 248px;
    margin-top: 47px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 264px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -304px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 282px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 9px;
    margin-bottom: -129px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1507px;
  }

  .u-section-1 .u-text-1 {
    width: 340px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: 50px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 195px;
  }

  .u-section-1 .u-image-1 {
    height: 156px;
    margin-top: 41px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 452px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -210px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 179px;
  }

  .u-section-1 .u-group-1 {
    margin-top: -1px;
    margin-bottom: 0;
  }
}