.u-section-1 .u-sheet-1 {
  min-height: 1076px;
}

.u-section-1 .u-text-1 {
  font-family: "Averia Sans Libre";
  margin: 32px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    width: auto;
  }
}